<div class="page-container">
  <header>
    <div>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon [ngStyle]="{'color':'white'}">{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span class="app-title">Mis Hábitos</span>
    </div>
  </header>
  <mat-sidenav-container class="sidenav-container">
    <img class="img-responsive" src="assets/img/LogoApp.png">
    <mat-sidenav #sidenav position="start" autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
      <br>
      <div class="logo-nav">
        <img src="./assets/img/LogoApp.png">
        <p style="margin-left: 5%; font-size: large;">Health Life Alarm</p>
        <p style="margin-left: 5%;">Usuario</p>
      </div>
      <hr>
      <a mat-button routerLink="/mis_habitos"><mat-icon>home</mat-icon>Home</a>
      <a mat-button routerLink="/mis_habitos"><mat-icon>fitness_center</mat-icon>Mis Hábitos</a>
      <a mat-button routerLink="/page3"><mat-icon>bar_chart</mat-icon>Mi Progreso</a>
      <a mat-button routerLink="/actualizar_datos"><mat-icon>manage_accounts</mat-icon>Actualizar Datos</a>
      <a mat-button routerLink="/eliminar_cuenta"><mat-icon>delete_forever</mat-icon>Eliminar Cuenta</a>
      <a mat-button routerLink=""><mat-icon>exit_to_app</mat-icon>Cerrar Sesión</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <mat-list>
          <div><mat-list-item>Ejercicio</mat-list-item></div><div class="parent"><mat-chip [routerLink]="['/crear-alarma']"><mat-icon [ngStyle]="{'color':'white'}">add_circle</mat-icon>Crear alarma</mat-chip> <mat-chip [routerLink]="['/alarmas']"><mat-icon [ngStyle]="{'color':'white'}">alarm</mat-icon> Alarmas</mat-chip> <mat-chip><mat-icon [ngStyle]="{'color':'white'}">do_not_disturb_on</mat-icon> Eliminar</mat-chip></div>
          <div><mat-list-item>Meditar</mat-list-item></div><div class="parent"><mat-chip [routerLink]="['/crear-alarma']"><mat-icon [ngStyle]="{'color':'white'}">add_circle</mat-icon>Crear alarma</mat-chip> <mat-chip [routerLink]="['/alarmas']"><mat-icon [ngStyle]="{'color':'white'}">alarm</mat-icon> Alarmas</mat-chip> <mat-chip><mat-icon [ngStyle]="{'color':'white'}">do_not_disturb_on</mat-icon> Eliminar</mat-chip></div>
          <div><mat-list-item>Leer</mat-list-item></div><div class="parent"><mat-chip [routerLink]="['/crear-alarma']"><mat-icon [ngStyle]="{'color':'white'}">add_circle</mat-icon>Crear alarma</mat-chip> <mat-chip [routerLink]="['/alarmas']"><mat-icon [ngStyle]="{'color':'white'}">alarm</mat-icon> Alarmas</mat-chip> <mat-chip><mat-icon [ngStyle]="{'color':'white'}">do_not_disturb_on</mat-icon> Eliminar</mat-chip></div>
        </mat-list>
        <button type="button" class="botonAppSolo">AGREGAR HÁBITO</button>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
