.row{
  height:100px;
}

#titulo{
  margin-bottom: 10px;
  color: white;
}

h1{
  text-align: center;
}

#textfield{
  text-align: center;
  margin-top: 20%;
}

#usuario, #clave{
  text-align: left;
  color: #AFAFAF;
}

p{
  color: white;
  font-weight: bold;
}

input{
  border: none;
  background-color: white;
  height: 30px;
  border-radius: 10px;
}

#olvideClave{
  text-align: center;
  margin-top: 20%;
}

.col-6{
  margin-top: 10%;
  padding-left: 7%;

}

button{
  height: 30px;
  background-color: #3AC43A;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 0.75em;
  font-weight: bold;
}

body{
  background-color: #F3F3E6;
  background-image: url('backgroundImage.jpg');
  background-size: cover;
}

paper-button {
  text-transform: none;
}








* {
 font-family: "Perpetua Titling MT", serif;
}
